src/main/resources/address-book.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="addressbook" type="addressbookType"/>

  <xs:complexType name="nameType">
    <xs:sequence>
      <xs:element name="firstname" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="middlename" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="lastname" type="xs:string" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addressType">
    <xs:sequence>
      <xs:element name="street" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="doornumber" type="xs:positiveInteger" minOccurs="1" maxOccurs="1"/>
      <xs:element name="postalnumber" type="xs:int" minOccurs="1" maxOccurs="1"/>
      <xs:element name="city" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="state" type="xs:string" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="contactType">
    <xs:sequence>
      <xs:element name="email" type="emailType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="phonenumber" type="phoneNumberType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="website" type="xs:anyURI" minOccurs="0" maxOccurs="4"/>
      <xs:element name="other" type="otherType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="personType">
    <xs:sequence>
      <xs:element name="name" type="nameType" minOccurs="1" maxOccurs="1"/>
      <xs:element name="contact" type="contactType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="address" type="addressType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="notes" type="xs:string" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="otherType">
    <xs:sequence>
      <xs:element name="nameofservice" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="userid" type="xs:string" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addressbookType">
    <xs:sequence>
      <xs:element name="person" type="personType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="title"/>
  </xs:complexType>

  <xs:simpleType name="emailType">
    <xs:restriction base="xs:token">
      <xs:maxLength value="254"/>
      <xs:pattern value="[_\-a-zA-Z0-9\.\+]+@[a-zA-Z0-9](\.?[\-a-zA-Z0-9]*[a-zA-Z0-9])*"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="phoneNumberType">
    <xs:simpleContent>
      <xs:extension base="number">
        <xs:attribute name="type" type="phoneAtt"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="number">
    <xs:restriction base="xs:string">
      <xs:pattern value="\+?\d+"/>
      <xs:minLength value="3"/>
      <xs:maxLength value="15"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="phoneAtt">
      <xs:restriction base="xs:string">
          <xs:enumeration value="personal"/>
          <xs:enumeration value="work"/>
          <xs:enumeration value="other"/>
      </xs:restriction>
  </xs:simpleType>
</xs:schema>